{% load endless %}
{% load fart_tags %}

            {% lazy_paginate object_list %}
            {% for post in object_list %}
            <div class="row">
                <div class="panel col-xs-12">
                    <a href="{{ post.get_absolute_url }}">
                        <h3>{{ post.title }}</h3>
                    </a>
                    {% if post.media %}
                        {% if 'audio' in post.mimetype %}
                        <div class="panel col-xs-12">
                            <audio controls>
                                <source src="{{ post.media.url }}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                        {% elif 'video' in post.mimetype %}
                        {% endif %}
                    {% endif %}
                    <div class="entry-body">
                        {{ post.body|safe }}
                    </div>
                    {% if post.gallery %}<div id="gallery">
                        {% for photo in post.gallery.photos.all %}
                        <div class="gallery-photo">
                            <img src="{{ photo.get_blog_post_url }}">
                        </div>{% endfor %}
                    </div>{% endif %}
                    <div class="author-name pull-right">–– {% for author in post.feed.authors.all %}{{ author.get_full_name }} {% endfor %}; {{ post.pub_date|date:"N j, Y" }}</div>
                    <div id="tags"><a href="{% url 'all_tags' %}">Tag{{ entry.tags|pluralize }}</a> : {% for tag in entry.tag.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.title }}  </a>{% endfor %}</div>
                    <div id="page-link"><a href="{{ entry.get_absolute_url }}#disqus_thread">Comment</a></div>
                </div>
            </div>
            {% endfor %}
            {% show_more %}
