{% extends 'feeds/base.html' %}

{% block header %}
                {% if feed %}
                    {% if feed.cover %}
                        <img src="{{ feed.cover.get_header_url }}">
                    {% else %}
                        <h1 class="page-top">{{ feed.title }}</h1>
                    {% endif %}
                    <a href="{% url 'archive_top' slug=feed.slug %}">
                        <h4 class="right-side">Full Archive</h4>
                    </a>
                {% else %}
                    <h1 class="page-top">{{ request.path }}</h1>     
                {% endif %}
{% endblock %}

{% block center_content %}
            {% load fart_tags %}
            {% load endless %}
            {% lazy_paginate object_list %}
            {% for post in object_list %}
            <div class="row">
                <div class="panel col-xs-12">
                    <a href="{{ post.get_absolute_url }}">
                        <h3>{{ post.title }}</h3>
                    </a>
                    {% if post.media %}
                        {% if 'audio' in post.mimetype %}
                        <div class="panel col-xs-12">
                            <audio controls>
                                <source src="{{ post.media.url }}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                        {% elif 'video' in post.mimetype %}
                        {% endif %}
                    {% endif %}
                    <div class="post-body">
                        {{ post.body|safe }}
                    </div>
                    {% if post.gallery %}<div id="gallery">
                        {% for photo in post.gallery.photos.all %}
                        <div class="gallery-photo">
                            <img src="{{ photo.get_blog_post_url }}">
                            {% if photo.caption %}
                            <div class="photo-caption">
                                {{ photo.caption }}
                            </div>
                            {% endif %}
                        </div>{% endfor %}
                    </div>{% endif %}
                    <div class="author-name pull-right">–– {% for author in post.feed.authors.all %}{{ author.get_full_name }} {% endfor %}; {{ post.pub_date|date:"N j, Y" }}</div>
                    <div id="page-link"><a href="{{ post.get_absolute_url }}#disqus_thread">Comment</a></div>
                </div>
            </div>
            {% endfor %}
            {% show_more %}

{% endblock %}
