body {
    font-family:sans-serif;
    color:#000;
    background-color:#FFF;
    }


#page {
    width:1000px;
    margin:-10px auto 0px auto;
    }

.mask-button {
    background-size:100%;
    background-repeat:no-repeat;
    height:70px;
    background-color:#000000;
    }

.mask-button:hover {
    background-color:red;
    }

.mask-button p {
    font-size:0px;
    }

#header {
    display:inline-block;
    }

#logo {
    height:150px;
    }

#logo img{
    width:225px;
    float:left;
    }

#header-blogs {
    background-image:url('/media/images/logos/blogs-mask.png');
    width:120px;
    }

.blogs-active {
    background-color:red;
    }

#header-podcasts {
    background-image:url('/media/images/logos/podcasts-mask.png');
    width:220px; 
    }

#header-calendar {
    background-image:url('/media/images/logos/calendar-mask.png');
    width:230px;
    }

#header-shop {
    background-image:url('/media/images/logos/shop-mask.png');
    width:123px;
    }

#navbar{
    border:0px;
    margin:0px;
    padding:0px;
    float:right;
    height:150px;
    }

#navbar ul{
    height:90px;
    list-style:none;
    margin:0px;
    padding:30px 0px;
    }
        
#navbar li{
    float:left;
    padding:0px;
    }
        
#navbar li a{
    display:block;
    line-height:50px;
    padding:0px 10px;
    text-align:center;
    text-decoration:none;
    }

#navbar li a:hover{
    text-decoration:underline;
    }

#navbar li ul{
    display:none;
    height:auto;
    position:absolute;
    width:100px;
    }

#navbar li:hover ul{
    display:block;
    }
        
#navbar li li {
    display:block;
    float:none;
    padding:0px 5px;
    width:100px;
    }
    
#navbar li ul a{
    display:block;
    font-size:18px;
    font-style:normal;
    padding:0px 3px 0px 3px;
    text-align:left;
    }
    
#navbar li ul a:hover{
    text-decoration:underline;
    }
    
#navbar p{
    clear:left;
    }


#featured-list {
    list-style-none;
    float:left;
    padding:0px;
    margin:30px 0px 0px 0px;
    }

#featured-list li {
    float:left;
    display:inline-block;
    }

#featured-list a {
    text-decoration:none;
    }

.featured-story {
    padding:0px 5px;
    position:relative;
    }

.featured-picture {
    width:;
    height:196px;
    padding:7px 13px;
    float:left;
    position:absolute;
    }

.featured-box {
    width:220px;
    height:220px;
    float:left;
    position:relative;
    }

.featured-text {
    position:absolute;
    bottom:10px;
    padding:0px 20px 0px 20px;
    width:165px;
    }

.featured-text div {
    color:#FFF;
    text-shadow:1px 1px 1px #000;
    text-decoration:none;
    font-family:sans-serif;
    }

.featured-summary {
    display:none;
    color:#eee;
    font-size:12px;
    position:relative;
    }

.tinter {
    width:186px;
    height:196px;
    position:absolute;
    margin:7px 13px;
    }

.post-bottom {
    position:absolute;
    bottom:0px;
    margin:10px 15px;
    }

.featured-story:hover .featured-summary {
    display:block;
    }

.featured-story:hover .tinter {
    background-color:rgba(0,0,0,.5);
    }

#content {
    }

#right-bar {
    width:300px;
    float:right;
    }

.box {
    background-image:url("/media/images/logos/box.png");
    background-size:100% 100%;
    }

.recent-box {
    width:280px;
    }

.recent-links  {
    margin-top:0px;
    list-style:none;
    padding:25px 40px 40px 40px;
    margin:0px;
    }

.recent-link {
    padding: 5px 0px;
    }

.recent-links {
    margin:0px 0px 30px 0px;
    }

.recent-list li a {
    color:#000;
    font-family:sans-serif;
    }

#main-bar {
    width:700px;
    float:left;
    display:inline-block;
    }

.entry-main {
    width:655px;
    padding:20px;
    background-color:#FFF;
    border-color:#666;
    border-style:dotted;
    border-width:2px;
    }

.entry-main a {
    color:#000;
    text-decoration:none;
    font-family:sans-serif;
    font-weight:bold;
    }

.entry-main a:hover {
    text-decoration:underline;
    }

.entry {
    margin:30px 0px 30px 0px;
    }

.head-line {
    padding:0px 10px;
    font-weight:bold;
    font-size:25px;
    font-family:sans-serif;
    text-shadow:1px 1px 1px rgba(0,0,0,.3);
    }

.head-line a {
    text-decoration:none;
    color:#000;
    }

.gallery-photo img{
    width:100%;
    margin:3px auto;
    }

#item-list {
    list-style:none;
    }

.episode-title {
    font-size:20px;
    font-family:sans-serif;
    padding:20px 10px 0px 0px;
    font-weight:bold;
    }

.episode-title a {
    text-decoration:none;
    color:#000;
    }

.episode-title a:hover {
    text-decoration:underline;
    color:#000;
    }

.podcast-player audio {
    height:50px;
    width:655px;
    }

#tags {
    padding:10px 0px 20px 0px;
    }

#footer {
    width:500px;
    margin:0px auto;
    }

#footer ul {
    list-style-type:none;
    display:inline-block;
    }

#footer ul li {
    float: left;
    padding:10px;
    }

#contact-link {
    background-image:url('/media/images/logos/contact-mask.png');
    width:225px;
    }

#about-link {
    background-image:url('/media/images/logos/about-mask.png');
    width:180px;
    }

#footer p {
    text-align:center;
    font-family:sans-serif;
    }

#social-media {
    height:200px;
    position:relative;
    right:50px;
    bottom:-150px;
    }

#facebook img {
    width:40px;
    float:right;
    }

#twitter img {
    width:50px;
    float:right;
    }

#error img {
    margin:30px 10px 40px 10px;
    width:655px;
    border-style:solid;
    border-size:10px;
    border-color:#000;
    }

.month-calendar {
    display:table;
    }

.month-day {
    width:125px;
    border-style:solid;
    border-width:3px;
    border-color:#000;
    margin:0px;
    padding:3px 3px 16px 3px;
    height:140px;
    display:table-cell;
    vertical-align:top;
    font-size:13px;
    }

.month-day a {
    color:#000;
    }

.month-day a:hover {
    color:#333;
    }

.month-day p {
    padding:0px 0px 0px 5px;
    }

.month-week {
    min-height:100px;
    display:table-row;
    }

#day-week-calendar {
    width:600px;
    margin:20px auto;
    }

#calendar-top a {
    color:black;
    }

.calendar-headers {
    color:#FFF;
    background-color:#000;
    height:15px;
    text-align:center;
    padding:3px;
    font-weight:bold;
    }

.calendar-headers a {
    color:#FFF;
    }

.calendar-headers a:hover {
    color:#DDD;
    }

.left-column {
    width:30px;
    background-color:#000;
    text-align:right;
    }

.left-column a {
    color:#FFF;
    display:block;
    padding:40px 0px 0px 0px;
    }

.left-column a:hover {
    color:#DDD;
    }

#event-info {
    width:800px;
    margin:0px 100px;
    }

#event-left {
    float:left;
    padding:15px;
    width:370px;
    }

#event-right {
    float:right;
    padding:50px 15px;
    width:370px;
    }

#event-date {
    color:#666;
    padding:20px;
    }

#event-date a {
    color:#000;
    }

#event-title {
    font-weight:bold;
    font-size:18px;
    padding:10px;
    }

#event-time {
    padding:10px;
    }

#event-age-limit {
    padding:0px 10px 10px 10px;
    color:#666;
    font-style:italic;
    font-size:14px;
    }

#event-price {
    padding:0px 10px;
    font-size:14px;
    }

#event-description {
    padding:30px 10px;
    font-size:14px;
    }

#event-location {
    text-align:right;
    }

#location-title {
    font-weight:bold;
    padding:30px 0px 0px 5px;
    }

#location-website {
    padding:5px 0px 10px 0px;
    }

#location-website a {
    color:#666;
    font-size:14px;
    }

#location-website a:hover {
    color:#000;
    }

#location-number {
    font-size:16px;
    }

#location-address {
    font-weight:14px;
    padding:15px 0px 30px 0px;
    }

#location-address p {
    margin:-1px 0px;
    }

#location-map {
    width:370px;
    height:350px;
    color:#FFF;
    }

.week-headers {
    background-color:#000;
    border-style:solid;
    border-width:4px 3px 6px 3px;
    margin:-3px -3px 7px -3px;
    padding:3px;
    }

.week-headers a {
    color:#FFF;
    }

.week-headers a:hover {
    color:#CCC;
    }

.week-day {
    text-align:left;
    width:600px;
    border-style:solid;
    padding:3px;
    margin:0px auto;
    }   

.week-event {
    padding:3px;
    font-size:14px;
    height:18px;
    }

.week-event a {
    text-decoration:none;
    font-size:14px;
    color:#000;
    }

.week-event a:hover div {
    text-decoration:underline;
    }

.week-event-title {
    width:500px;
    float:left;
    }

.week-event-time {
    float:right;
    width:80px
    text-align:right;
    }

#categories ul {
    float:right;
    margin:0px;
    padding:2px;
    }

#categories li {
    display:inline-block;
    }

#categories a {
    color:#000;
    text-decoration:none;
    }

#categories a:hover {
    color:#444;
    text-decoration:underline;
    }

#event-form form {
    width:600px;
    margin:20px auto;
    border-style:solid;
    border-width:5px;
    }

#event-form label {
    display:block;
    vertical-align:top;
    background-color:#000;
    color:#FFF;
    padding:9px 9px 9px 0px;
    }
    
#event-form input {
    margin: 16px 16px 16px 16px;
    display:block;
    }

#event-form textarea {
    margin: 16px 16px 16px 16px;
    max-width: 558px;
    }

#event-form select {
    margin: 16px 16px 16px 16px;
    display:block;
    }

.bold {
    font-weight:bold;
    text-shadow:1px 1px 1px rgba(0,0,0,.25);
    }

.dark {
    color:#FFF;
    background-color:#000;
    }

.light {
    color:#000;
    background-color:#FFF;
    }

ul.errorlist {
    list-style-type:none;
    padding:8px 16px 0px 16px;
    }

.errorlist li {
    list-style-type:none;
    font-weight:bold;
    color:red;
    }

.rg-thumbs {
    display:none;
    }

