.body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
}
 
.viewport .frame {
  position: absolute;
  width: 200%;
  top: 0;
  bottom: 0;
  left: 0;
}

.menu {
  height:100%;
}
 
.menu.collapse {
  float:left;
  height: 100% !important;
  width: auto;
}
 
.menu.collapse.height {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
 
.menu.collapse.width {
  position: relative;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}
 
.menu.collapse.in.width {
  width: auto;
}
 
.menu.collapse.in.height {
  height: auto;
}
 
.menu.collapse-inner {
  position: relative;
  width: 250px;
  height: 100%;
}

.view {
  width: 50%;
  height: auto;
  overflow: hidden;
}

#header-blogs {
    background-image:url('/media/images/logos/blogs-mask.png');
    width:80px;
    }

#header-podcasts {
    background-image:url('/media/images/logos/podcasts-mask.png');
    width:155px; 
    }

#header-calendar {
    background-image:url('/media/images/logos/calendar-mask.png');
    width:165px;
    }

#header-shop {
    background-image:url('/media/images/logos/shop-mask.png');
    width:85px;
    }

#header-contact {
    background-image:url('/media/images/logos/contact-mask.png');
    width:158px;
    }

#header-about {
    background-image:url('/media/images/logos/about-mask.png');
    width:135px;
    }

audio {
    height:50px;
    }

#tags {
    padding:10px 0px 20px 0px;
    }

.no-list-style {
    list-style:none;
    }

#location-map {
    height:350px;
    color:#FFF;
    }

ul.errorlist {
    list-style-type:none;
    padding:8px 16px 0px 16px;
    }

.errorlist li {
    list-style-type:none;
    font-weight:bold;
    color:red;
    }

.rg-thumbs {
    display:none;
    }

